<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ user_info.name }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
  <body>
    <div class="d-flex position-relative">
      <div>
        <h5 class="mt-0">Name: {{ user_info.name }}</h5>
          <p>Skills:
            
            {% for y in all_ability %}
              {% ifchanged y.category %}
                <br>{{ y.category }} -
              {% endifchanged %}
                {{ y.name }},
              {% endfor %}
              </p>
       <a href="{% url 'add_ability' %}" class="btn btn-primary stretched-link"> + add ability</a>
          </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
